<h3>All Shelters</h3>

<% @shelters.each do |shelter| %>
  <h4><%= link_to shelter.name, "/admin/shelters/#{shelter.id}"%></h4>
  <ul>
    <li>City: <%= shelter.city %></li>
    <li>Foster Program? <%= shelter.foster_program %> </li>
    <li>Rank: <%=shelter.rank %> </li>
  </ul>
<% end %>

<h3>Shelters with Pending Applications</h3>
<ul class="shelters-with-pending">
<% @shelters_with_pending.each do |shelter| %>
    <li> <%= shelter.name %> </li>
<% end %>
</ul>
