<h2> <%= @shelter[0].name %> </h2>

<h4>Address: </h4>
<p><%= @shelter[0].street_address %> <br>
   <%= @shelter[0].city %>, <%= @shelter[0].state%> <%= @shelter[0].zip_code %></p>

<section class="statistics">
  <h4>Shelter Statistics</h4>

  <ul>
    <li>Average Age of Adoptable Pets: <%=@avg_age_adoptable_pets%></li>
    <li>Count of Adoptable Pets: <%=@count_adoptable_pets%></li>
    <li>Count of Pets Adopted from <%=@shelter[0].name%>: <%=@count_pets_adopted%></li>
  </ul>

</section>

<section class="action_required">
  <table>
    <th>Action Required</th>
    <% @pets_with_pending.each do |pet_with_pending| %>
    <tr>
      <td><%= pet_with_pending.pet_name %></td>
      <td><%= link_to "Application #{pet_with_pending.app_id}", "/admin/applications/#{pet_with_pending.app_id}" %> </td>
    </tr>
    <% end %>
  </table>
</section>
