<h3><%= @veterinarian.name %></h3>
<h4>
  <% if @veterinarian.on_call %>
    On call
  <% else %>
    Not on call
  <% end %>
</h4>
<h4>Rating: <%= @veterinarian.review_rating %></h4>
<h4>Practice: <%= @veterinarian.office_name %></h4>

<%= link_to "Update #{@veterinarian.name}", "veterinarians/#{@veterinarian.id}/edit" %>
<%= link_to "Delete #{@veterinarian.name}", "/veterinarians/#{@veterinarian.id}", method: :delete %>
