<h3>Application #<%= @application.id %> </h3>
<p><em>Status: <%= @application.status %> </em></p>

<h5>This Application's Pets:</h5>
<table>
  <% @apps_pets.each do |apps_pet| %>
  <tr class=<%=apps_pet.pet.name.gsub(/[!@%&". ]/,'')%>>
    <td> <%= link_to "#{apps_pet.pet.name}", "/pets/#{apps_pet.pet.id}" %> </td>
    <td>
      <% if apps_pet.status != nil %>
        <p>Application <%=apps_pet.status.downcase%> for this pet</p>
      <% else %>
        <%= button_to "Approve", "/admin/applications/#{@application.id}", params: {pet: apps_pet.pet.id, status: 'approved'}, method: :patch%>
        <%= button_to "Reject", "/admin/applications/#{@application.id}", params: {pet: apps_pet.pet.id, status: 'rejected'}, method: :patch%>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
