<h3>Application #<%= @application.id %> </h3>
<p><em>Status: <%= @application.status %> </em></p>

<table>
  <th><h5>This Application's Pets</h5></th>

  <% @apps_pets.each do |apps_pet| %>
  <tr class=<%=apps_pet.pet.name.gsub(/[!@%&". ]/,'')%>>
    <td> <%= render partial: "/shared/name_as_link", locals: {resource: apps_pet.pet} %></td>

    <% if apps_pet.status != nil %>
      <td><p>Application <%=apps_pet.status.downcase%> for this pet</p></td>
    <% elsif apps_pet.status == nil  && apps_pet.pet.adoptable %>
      <%= render partial: "/shared/pet_app_approve_reject", locals: {resource: apps_pet} %>
    <% elsif apps_pet.status == nil  && !apps_pet.pet.adoptable %>
      <%= render partial: "/shared/pet_app_reject", locals: {resource: apps_pet} %>
    <% end %>
    
  </tr>
  <% end %>
</table>
