<h3>Application #<%= @application.id %> </h3>
<p><em>Status: <%= @application.status %> </em></p>

<h5>Applicant Details:</h5>
<ul>
  <li><em>Name:</em> <%= @application.name %></li>
  <li><em>Address:</em> <br>
                         <%= @application.street_address %> <br>
                         <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %>
                       </li>
  <% if @application.status != "In Progress" %>
    <li><em>Testimonial:</em> <%= @application.description %></li>
  <% end %>
</ul>

<h5>This Application's Pets:</h5>
<ul>
  <% @pets.each do |pet| %>
  <li> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </li>
  <% end %>
</ul>

<% if @application.status == "In Progress" %>
  <h5>Add a Pet to this Application</h5>
  <%= render partial: "shared/search", locals: {url: "/applications/#{@application.id}", method: :get, button_text: "Search"} %>
  <br><br>
  <% if params[:search] %>
    <table>
      <% @pets_search.each do |pet| %>
      <tr>
        <td><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></td>
        <td><ul>
          <li> Age: <%= pet.age %> </li>
          <li> Breed: <%= pet.breed %> </li>
          <li> Adoptable: <%= pet.adoptable %> </li>
          <li> You can find <%= pet.name %> at <%= pet.shelter_name %>! </li>
        </ul></td>
        <td> <%= button_to "Adopt this Pet", "/applications/#{@application.id}", params: {adopt: pet.id}, method: :get %></td>
      </tr>
        <% end %>
    </table>
  <% end %>
<% end %>

<% if @application.status == "In Progress" && @pets.length != 0 %>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :description, "Why would you be a good home for a new pet?" %><br>
    <%= f.text_area :description  %>
    <br><br>
    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>
