<h3>Application #<%= @application.id %> </h3>
<p><em>Status: <%= @application.status %> </em></p>

<h5>Applicant Details:</h5>
<ul>
  <%= render partial: "/shared/name_and_address", locals: {resource: @application} %>
  <% if @application.status != "In Progress" %>
    <li><em>Testimonial:</em> <%= @application.description %></li>
  <% end %>
</ul>

<h5>This Application's Pets:</h5>
<ul>
  <% @pets.each do |pet| %>
  <li> <%= render partial: "/shared/name_as_link", locals: {resource: pet} %> </li>
  <% end %>
</ul>

<% if @application.status == "In Progress" %>
  <h5>Add a Pet to this Application</h5>
  <%= render partial: "shared/search", locals: {url: "/applications/#{@application.id}", method: :get, button_text: "Search"} %>
  <br><br>
  <% if @pets_search %>
    <table>
      <% @pets_search.each do |pet| %>
        <tr>
          <td> <%= render partial: "/shared/name_as_link", locals: {resource: pet} %> </td>
          <td> <%= render partial: "/shared/pet_details", locals: {pet: pet} %></td>
          <td> <%= button_to "Adopt this Pet", "/applications/#{@application.id}", params: {adopt: pet.id}, method: :get %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

<% if @application.submittable? %>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
    <%= f.label :description, "Why would you be a good home for a new pet?" %><br>
    <%= f.text_area :description  %>
    <br><br>
    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>
