<h3>Application #<%= @application.id %> </h3>
<p><em>Status: <%= @application.status %> </em></p>

<h5>Applicant Details:</h5>
<ul>
  <li><em>Name:</em> <%= @application.name %></li>
  <li><em>Address:</em> <br>
                         <%= @application.street_address %> <br>
                         <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %>
                       </li>
  <li><em>Testimonial:</em> <%= @application.description %></li>
</ul>

<% if @application.status == "In Progress" %>
  <h5>Add a Pet to this Application</h5>
<% else %>
  <h5>Pets Applied For:</h5>
  <ul>
    <% @pets.each do |pet| %>
    <li> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </li>
    <% end %>
  </ul>
<% end %>
