<h1>All pets</h1>

<%= link_to "Start Application", "/applications/new" %>
<br><br>

<%= render partial: "shared/search", locals: {url: "/pets", method: :get, button_text: "Search"} %>

<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <%= render partial: "/shared/pet_details", locals: {pet: pet} %>
  <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %>
  <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
<% end %>
