<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <section class="navbar">
      <div class="mainbar">
      <%= link_to "Pets", "/pets"%>
      <%= link_to "Shelters", "/shelters"%>
      <%= link_to "New Application", "/applications/new" %>
      </div>
      <div class="dropdown" id="vet">
          <button class="dropbtn">Vets</button>
          <div class="dropdown-content">
            <%= link_to "Veterinarians", "/veterinarians" %>
            <%= link_to "Veterinary Offices", "/veterinary_offices" %>
          </div>
      </div>
      <div class="dropdown" id="admin">
          <button class="dropbtn">Admin</button>
          <div class="dropdown-content">
            <%= link_to "Shelters", "/admin/shelters" %>
            <%= link_to "Applications", "/admin/applications" %>
          </div>
      </div>
    </section>

    <% flash.each do |type, msg| %>
      <br>
      <div class=<%=type%> >
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
